@import "tailwindcss";

:root {
  --background: #ffffff; 
   /* --foreground: #171717; */
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, rgb(75 0 130), rgb(147 51 234));
    --foreground: #141313;

  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
